@import './components/header';
@import './components/tasks';
@import './base/variables';
@import './pages/login_page';
@import './base/modal';

body {
    margin: 0;
    padding: 0;

    & > div {
        padding: 0 5%;
    }

    @include desktop() {
        & > div {
            padding: 0 10%;
        }
    }
}

h1  {
    margin: 0;
}