@import './components/header';
@import './base/variables';
@import './components/login_page';

body {
    margin: 0;
    padding: 0;

    .app {
        width: 100%;
        & > * {
            padding: 0 10%;
            display: flex;
            justify-content: center;
        }
    }
}

