@import './variables';
@import './mixins';

* {
    padding: 0;
    margin: 0;
}

body {
    margin: 0;
    padding: 0;
    font-size: 16px;

    .App {
        &>* {
            padding-left: 10px;
            padding-right: 10px;
        }

        @include tablet() {
            &>* {
                padding-left: 100px;
                padding-right: 100px;
            }
        }
    }
}

ul {
    list-style: none;
}

i {
    display: flex;
    align-items: center;
    @include responsive-font(18px, 20px, 22px)
}

section {
    margin: 10px 0;

    h1 {
        margin: 10px 0;
    }
}

.overlay {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.801);
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fullscreen-form {
    position: fixed;
    inset: 0;
    background-color: $bg-1;
    padding: 10px;

    &>div:first-child {
        display: flex;
        justify-content: flex-end;
    }
}

.form {
    
}

.alert {
    padding: 10px;
    margin: 10px 0;
    color: white;
    font-weight: bold;
}

.success {
    background-color: rgb(6, 163, 6);
}

.error {
    background-color: rgb(206, 2, 2);
}