@mixin tablet {
    @media (min-width: 768px) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: 1000px) {
        @content;
    }
}

@mixin default-shadow {
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.4);
}

@mixin arrounded-border {
    border-radius: 12px;
}

@mixin responsive-font($mb-size, $tb-size, $dt-size) {
    font-size: $mb-size;

    @include tablet() {
        font-size: $tb-size;
    }

    @include desktop() {
        font-size: $dt-size;
    }
}