@import '../base/variables';

header {
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: space-between;
    background-color: $bg-1;
    color: white;
    img {
        width: 40px;
        border-radius: 50%

    }
}