@import '../base/variables';
@import '../base/mixins';

header {
    display: flex;
    align-items: center;
    justify-content: right;
    background-color: $bg-1;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;

    @include tablet() {
       
    }
}