@import '../base/variables';
@import '../base/mixins';

header {
    display: flex;
   
    align-items: center;
    justify-content: right;
    background-color: $bg-1;
    color: white;

    @include tablet() {
        padding: 0 15px;
    }
   
    
}