@import '../base/variables';
@import '../base/mixins';

li, form, #tasks-toolbar, #tasks-toolbar div, #text-container,  #actions{
    display: flex;
}

form input, #text-container {
    width:100%
}

form, #todolist li, #actions {
    gap: 10px
}

form,
li {
    padding: 10px;
    @include arrounded-border;
    background-color: $bg;
    @include default-shadow;
}

form {
    input {
        height: 25px;
    }

    button {
        border: none;
        background-color: transparent;
    }
}

#tasks-toolbar {
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 10px 0;

    div {
        margin: 5px 0;

        &>* {
            margin: 0 5px;
        }
    }
}

#todolist {
    li {
        align-items: center;
        margin-bottom: 15px;

        #text-container {
            flex-direction: column;
            overflow: hidden;

            #description {
                word-wrap: break-word;
                overflow-wrap: break-word;
                white-space: normal;
                max-width: 100%;
            }

            #date {
                color: gray;
                @include responsive-font(12px, 14px, 16px);
            }
        }

        #actions {
            .edit-btn {
                color: $edit-btn;
            }

            .delete-btn {
                color: $delete-btn;
            }
        }

        &.done {
            #check {
                background-color: rgb(134, 204, 134);

            }

            #description {
                text-decoration: line-through;
            }
        }
    }
}