@import '../base/variables';
@import '../base/mixins';


#tasks-section form,
#task-list li,
#tasks-toolbar {
    display: flex;
}

#tasks-section form,
#task-list li {
    padding: 10px;
    @include arrounded-border;
    background-color: $bg-1;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.4);
}

#tasks-section form {
    gap: 10px;

    input {
        width: 100%;
        height: 20px;
    }
}

#tasks-toolbar {
    flex-wrap: wrap;
    margin: 10px 0;

    span {
        margin: 5px 0;

        &>* {
            margin: 0 5px;
        }
    }
}

#task-list {
    padding: 0;
    margin: 0;

    li {
        align-items: center;
        gap: 10px;
        margin-bottom: 15px;

        #text-container {
            display: flex;
            width: 100%;
            flex-direction: column;
            overflow: hidden;

            #description {
                word-wrap: break-word;
                overflow-wrap: break-word;
                white-space: normal;
                max-width: 100%;
            }

            #date {
                color: gray;
                @include responsive-font(12px, 14px, 16px);
            }

        }

        #actions {
            display: flex;
            gap: 10px
        }

        &.done {
            background: rgba(255, 202, 56, 0.815);
            /* Transparência */
            backdrop-filter: blur(60px);
            /* Desfoque */
            -webkit-backdrop-filter: blur(50px);
        }
    }
}