@import './variables';
@import './mixins';

*{
    padding: 0;
    margin: 0;
}

body {
    margin: 0;
    padding: 0;
 
    .App {
    
        &>* {
            padding-left: 10px;
            padding-right: 10px;
        }
    }

    @include tablet() {
        .App {
            &>* {
                padding-left: 100px;
                padding-right: 100px;
            }
        }
    }

}

ul {
    list-style: none;
}
