$bg-0: white;
$bg-1: rgb(230, 230, 230);
$bg-1: rgb(209, 209, 209);

@mixin tablet {
    @media (min-width: 768px){
        @content;
    }
}

@mixin desktop {
    @media (min-width: 1000px) {
        @content;
    }
}